<div class="btn btn-primary filter-menu-mobile">
    Filter
</div>
<div class="filter">
    <div class="filter-menu">
        <h2>Filter</h2>

        {% set menu_item = (function ('get_terms','starost-pravljice')) %}
        {% include "partials/filter-menu-item.twig" with {'type': menu_item, 'title': 'Starost pravljice', 'taxonomy': 'starost-pravljice' } %}
    
        {% set menu_item = (function ('get_terms','regija-pravljice')) %}
        {% include "partials/filter-menu-item.twig" with {'type': menu_item, 'title': 'Regija pravljice', 'taxonomy': 'regija-pravljice' } %}
    
        {% set menu_item = (function ('get_terms','kategorija-pravljice')) %}
        {% include "partials/filter-menu-item.twig" with {'type': menu_item, 'title': 'Kategorija pravljice', 'taxonomy': 'kategorija-pravljice' } %}
    
        {% set menu_item = (function ('get_terms','zbirke-pravljice')) %}
        {% include "partials/filter-menu-item.twig" with {'type': menu_item, 'title': 'Zbirke pravljice', 'taxonomy': 'zbirke-pravljice' } %}

        {% set menu_item = (function ('get_terms','avtor-pravljice')) %}
        {% include "partials/filter-menu-item.twig" with {'type': menu_item, 'title': 'Avtor pravljice', 'taxonomy': 'avtor-pravljice' } %}
    </div>
    <div class="filter-menu__toolbar">
        <a class="btn btn-primary" href="/pravljice/">Vse pravljice</a>
    </div>
</div>

<div class="filter-menu__toolbar filter-menu__toolbar-mobile">
    <a class="btn btn-primary" href="/pravljice/">Vse pravljice</a>
</div>