{% set vars = get_passage(taxonomy) %}
<div class="filter-menu__item">
    <div class="filter-menu__item-title">
        {{ title }}
    </div>
    <div class="filter-menu__item-list" data-tax="{{taxonomy}}" >
        {% for item in menu_item %}    
        <div class="filter-menu__item-item">
            <input type="checkbox" data-term="{{item.slug}}" id="{{ taxonomy ~ item.slug }}" {{ (function('in_array',item.slug, vars)) ? 'checked' : '' }}>
            <label for="{{ taxonomy ~ item.slug }}">{{item.name}}</label>
        </div>       
        {% endfor %}
    </div>
</div>
