<footer class="footer-my">
    <div class="container">
        <div class="text-right">
            Vse pravice pridržane &copy; {{ "now"|date("Y") }} Dežela Pravljic
        </div>
    </div>
</footer>
