<!doctype html>
<html class="no-js is-page-loading" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ theme.link }}/img/favicon.ico" type="image/vnd.microsoft.icon"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}">
    {{ fn('wp_head') }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-205723763-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-205723763-1');
      gtag('config', 'G-XZRG02P098');
    </script>