<div id="searchOverlay" class="overlay">
    <div class="closebtn"></div>
    <div class="overlay-content">
      <div class="closebtn"></div>
      {{ function ('do_shortcode','[wpdreams_ajaxsearchlite]')}}
    </div>
  </div>