
<section id="{{ layout.block_id }}" class="title-block">
    <div class="container bg-white">
        <div class="text-center {{ layout.type == 'oneline' ? 'content-block__title' : ''}}">
            <h2 class="section-title">
                {{ layout.title }}
            </h2>
            <h3 class="section-title section-title--red">
                {{ layout.subtitle }}
            </h3>
        </div>
    </div>
</section>   