.mejs {
    &__container {
        margin-top: 10px;
    }

    &__controls {
        display: block;
    }

    &__controls,
    &__container {
        background: none !important;
    }

    &__time {
        color: #777;
        font-weight: normal;
    }
}

.podcast {
    background: #f0f0f0;
    padding: 30px;
    border-radius: 3px;

    &__episode_title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0;
        color: #333;
    }

    &__title {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 11px;
        color: #555;
        i {
            font-style: normal;
            font-weight: normal;
            text-transform: capitalize;
            margin-left: 10px;
        }
    }

    &__meta {
        background: #ddd;
        padding: 0 30px 45px 30px;
        display: flex;
        justify-content: space-between;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .artwork {
            margin-right: 0;
            transform: translateY(-70px);
            > img {
                border-radius: 3px;
                width: 150px;
                height: 150px;
                box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
                margin-bottom: -80px;
            }
        }
    }
}

.mejs-prepended-buttons {
    display: flex;
}

.mejs-appended-buttons {
    display: flex;
    justify-content: space-evenly;
}

.mejs__play > button {
    background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
}

.mejs__pause > button {
    background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
    background-position: -20px 0;
}

.mejs__mute > button {
    background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
    background-position: -60px 0;
}

.mejs__unmute > button {
    background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
    background-position: -40px 0;
}

.mejs-skip-back-button > button,
.mejs__skip-back-button > button {
    background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/skipback.svg");
}

.mejs-jump-forward-button > button,
.mejs__jump-forward-button > button {
    background: url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/jumpforward.svg") no-repeat;
}

.mejs__button > button {
    color: #555;
}

.mejs__horizontal-volume-slider {
    display: none !important;
}


.pravljce-sigle__img {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.pravljece-signle__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    padding: 20px 0;
}

.pravljece-signle__item {
    color: #959595;
    text-decoration: none;
    a{
        color: #959595;
    }
}

.pravljce-sigle{
    h2{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.2;
    }
    h3{
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2;
    }
}

.pravljice-podobne__list{
    padding-top: 20px;
}
.pravljice-podobne__item-img{
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.pravljice-podobne__item{
    h4{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.2;
        color: black;
        padding-bottom: 5px;
    }
    .row{
        margin: 0;
    } 
}
.pravljice-podobne__item-exp{
    color: black;
    line-height: 1.2;
}

.pravljice-podobne{
    padding: 60px 0;
}

.basic-bg{
    background: url('/wp-content/themes/timber-boilerplate-master/img/bg.webp');
    background-size: 100% contain;
    background-repeat: no-repeat;
    background-position: top;
}

.bg-white{
    background-color: white;
    padding: 15px;
}

.logo{
    padding-bottom: 20px;
    display: inline-block;
    img{
        width: 100%;
    }
}

.pravljce-archive__title{
    padding-bottom: 20px;
    text-transform: none;
}

.pravljce-archive__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.front-podobne__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.front-podobne__item-img{
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.front-podobne{
    h3{
        padding-bottom: 40px;
    }
}

.filter-menu{
    background: #edf5ff;
    padding: 10px;
    h2{
        padding-bottom: 20px;
        text-transform: none;
    }

}

.filter-menu__item{

}

.filter-menu__item-title{
    border-bottom: 1px solid black;    
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 1.4;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.filter-menu__item-list{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.filter-menu__item-item{
    color: black;
    font: 400 13.3333px Arial;
}

.filter-menu__toolbar{
    padding-top: 20px;
    text-align: right;
    @media screen and (max-width: 991px) {
        display: none;        
    }
    &-mobile{
        display: none; 
        @media screen and (max-width: 991px) {
           display: inline-block;       
        }
    }
}

.btn{
    padding: 10px 15px;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
}
.btn-primary{
    background: #8AB1E0;
    color: white;    
    &:hover{
        background: #F5D942;
        text-decoration: none;
    }        

}

.front-search{
    padding: 100px;
    background: #14426d;
    margin:  40px 0;
}

.fort-search__wrap{
    #ajaxsearchlite1{
        max-width: 400px;
        text-align: center;
        margin: auto;
    }
}

.nav-item{
    display: inline-block;
}
.nav-item__svg{
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin: 0 5px;
    svg{
        width: 19px;
        color: #8AB1E0;
    }
    &:hover{
        background: #F5D942;
    }       
}
.nav-bar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.nav-item__pravljice{
    font-size: 18px;
    color: white;
    padding: 14px;
    background: #8AB1E0;;
    line-height: 1;
    margin: 0 5px;
    border-radius: 5px;
    &:hover{
        background: #F5D942;
        text-decoration: none;
    }        

}
.nav-menu{
    margin-bottom: 30px;
    margin-right: -20px;
    display: flex;
    align-items: stretch;
    @media screen and (max-width: 991px) {
        display: none;  
    }
}
.slick-toolbar{
    text-align: right;
}

.c-posts-pagination{
    padding: 40px 0 20px;
    text-align: center;
}
.c-posts-pagination__item{
    margin: 0 5px;
    color: gray;
    &:hover{
        color: black;
        font-size: 18px;
    }
}
.c-posts-pagination__item_current{
    color: black;
    font-size: 18px;
}


.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(138,177,224);
    background-color: rgba(138,177,224, 0.95);
    .overlay-content {
        position: relative;
        top: 30%;
        width: 50%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        .closebtn {
            position: absolute;
            top: 50%;
            right: 20px;
            height: 20px;
            width: 20px;
            cursor: pointer; 
            z-index: 101;
        }
    }
    .closebtn {
        position: absolute;
        top: 40px;
        right: 20px;
        height: 35px;
        width: 35px;
        cursor: pointer; 
    }
    .closebtn::before,
    .closebtn::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px; 
        background-color: $white;
    }

    .closebtn::before {
        transform: rotate(45deg);
    }

    .closebtn::after {
        transform: rotate(-45deg);
    }  

}



@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
}
    
@media screen and (max-width: 768px) {
    .overlay .overlay-content {
        width: 70%;
    }
    
}
    
@media screen and (max-width: 480px) {
    .overlay .overlay-content {
        width: 90%;
        button {
            display: none;
        }
        input {
            font-size: 17px !important;
        }
    }
}

.nav-hamburger{
    display: none;
    padding-bottom: 30px;
    padding-left: 40px;
    svg {
        width: 30px;
        color: #8AB1E0;
    }
    @media screen and (max-width: 991px) {
        display: inline-block;        
    }
}
.nav-menu-mobile{
    display: none; 
    padding-bottom: 10px;
    align-items: stretch;
    justify-content: flex-end;
    margin-right: -10px;
}

.filter{
    position: sticky;
    top: 40px;
    @media screen and (max-width: 991px) {
        display: none;   
        position: relative;    
        top: 0; 
    }
}

.filter-menu-mobile{
    margin-bottom: 10px;
    display: none;        
    @media screen and (max-width: 991px) {
     display: inline-block;
    }
}

.carousel-nav{
    padding: 5px 15px;  
    border: none;
    border-radius: 5px;
    background: #8AB1E0;
    svg{
        width: 15px;
        color: white;
    }
}