/* stylelint-disable declaration-no-important, selector-max-universal */
body {
  @include u-set-typography;
  background-color: $color-bg; 
}

a {
  @include t-link-base;
}

.s-textcontent {
  @include t-textcontent;
}

.is-page-loading * {
  transition: none !important;
}

.u-link {
  @include t-link-base;
}

.u-link-button {
  @include t-link-base;
  @include u-remove-button-styling;
}

h1{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}
h2{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}
h3{
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

h4{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  color: black;
  padding-bottom: 10px;
}

.footer-my{
  padding: 40px 0;
}

.front-podobne__item-exp{
  color: black;
}