{% block content_area_inner %}

{% set item = type.normal %}
<section id="{{ type.block_id }}">     
    <div class="icons__block icons__block-centerd">
        <div class="icons__list">
        </div>
    </div>
    <div class="container bg-white">
        <div class="row">
            <div class="col-xl-5 col-lg-6 pb-lg-0 d-flex align-items-start justify-content-center flex-column {{ item.order == 'rl' ? 'order-lg-2' : '' }}">
                <div class="d-flex flex-wrap w-100">
                 
                    <h2 class="section-title">
                        {{ item.title }}
                    </h2>

                    <h3 class="section-title--red">
                        {{ item.subtitle }}
                    </h3>
                 
                </div>

                <div class="content-block__content">
                    {{ item.content }}
                </div> 

                <div class="content-block__buttons">
                    {% for button in item.buttons %}
                        <a href="{{ button.button_link }}"> {{ button.button_text }}</a>
                    {% endfor %}    
                </div>    
            </div>
            <div class="col-xl-7 col-lg-6 d-flex justify-content-end">
                <img class="br-20 d-none d-lg-block" src="{{ item.image }}" alt="">
            </div>
        </div>

    </div>
</section>

{% endblock %}