{% block content_area_inner %}

{% set item = type.normal %}
<section id="{{ type.block_id }}">     
    <div class="container bg-white">
        <div class="text-center content-block__title">
            <h2 class="section-title">
                {{ item.title }}
            </h2>
            <h3 class="section-title section-title--red">
                {{ item.subtitle }}
            </h3>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-6 pb-lg-0 d-flex align-items-start justify-content-center flex-column {{ item.order == 'rl' ? 'order-lg-2' : '' }}">           
                <h4 class="section-title">
                    {{ item.block_tilte }}
                </h4>              
                <div class="content-block__content">
                    {{ item.content }}
                </div> 
                <div class="content-block__buttons">
                    {% for button in item.buttons %}
                        <a href="{{ button.button_link }}"> {{ button.button_text }}</a>
                    {% endfor %}    
                </div>    
            </div>
            <div class="col-xl-7 col-lg-6 d-flex justify-content-end {{ item.order == 'rl'? 'order-md-1':'' }}">
                <img class="br-20 d-none d-lg-block" src="{{ item.image }}" alt="">
            </div>
        </div>

    </div>
</section>

{% endblock %}