{% extends "base.twig" %}


{% block content_area_inner %}

<div class="container bg-white">

  <div class="row">
    <div class="col-md-4 pb-3 pb-md-0">
      {% include "partials/filer-menu.twig" with { 'type': posts } %}
    </div>
    <div class="col-md-8">
      <h1 class="pravljce-archive__title">Pravljice</h1>
      <div class="pravljce-archive__list">
        {% for post in posts %}
          <a class="pravljce-archive__item" href="{{ post.link}}">
            <div class="row">
              <div class="col-5">
                  <div class="pravljice-podobne__item-img">
                      <img src="{{post.thumbnail.src|towebp}}">
                  </div>
              </div>
              <div class="col-7">
                  <h4>{{post.title}}</h4>
                  <div class="pravljice-podobne__item-exp">
                      {{post.preview.length(10).read_more(false) }}
                  </div>

              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>  
  {% include 'partials/posts-pagination.twig' with {'pagination': pagination, 'numbered': true} %}
</div>

{% endblock %}
