{% extends "singular.twig" %}


{% block singular_article_class ' c-article-beta' %}


{% block content_area_inner_content %}
<div class="container bg-white">

  <div class="front-cats__list">        
    <a class="front-cats__item" href="{{ term.link }}">{{ term.name }}</a>
  </div>

  {% set posts = get_random_pravljice(24) %}
    <div class="front-podobne">
      <h3>Priljubljene pravljice</h3>
      <div class="front-podobne__list">
          {% for post in posts %}
          <a class="front-podobne__item" href="{{post.link}}">
              <div class="row">
                  <div class="col-5">
                      <div class="front-podobne__item-img">
                          <img src="{{post.thumbnail.src|towebp}}">
                      </div>
                  </div>
                  <div class="col-7">
                      <h4>{{post.title}}</h4>
                      <div class="front-podobne__item-exp">
                          {{post.preview.length(10).read_more(false) }}
                      </div>
                  </div>
              </div>
          </a>
          {% endfor %}
      </div>
  </div>
</div>
<div class="front-search">
  <div class="container">
    <div class="fort-search__wrap">
      {{ function ('do_shortcode','[wpdreams_ajaxsearchlite]')}}
    </div>
  </div>
</div>
{{ parent() }}
{% endblock %}