{% extends "singular.twig" %}


{% block singular_article_class ' c-article-beta' %}


{% block content_area_inner_content %}
<div class="pravljce-sigle">
  <div class="container bg-white">
    <div class="row">
      <div class="col-md-4">
        <div class="pravljce-sigle__img">
          <img src="{{ post.thumbnail.src|towebp }}" />
        </div>
        <div class="podcast__meta">
          <audio controls width="100%">
            <source src="{{ post.meta("zvok_pravljice")['url'] }}">
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
      <div class="col-md-8 pt-5 pt-md-0">
        <h2>{{ post.title }}</h2>
        <div class="pravljece-signle__list">  
          {% if post.terms( {query:{taxonomy:'avtor-pravljice', orderby:'name', order: 'ASC'}}) %}
          <div class="pravljece-signle__item">
            <img class="" src="/wp-content/themes/timber-boilerplate-master/img/author.png">
            {% for term in post.terms( {query:{taxonomy:'avtor-pravljice', orderby:'name', order: 'ASC'}} ) %}
            <a href="{{term.link}}">{{ term.name }}</a>
            {% endfor %}
          </div>
          {% endif %}
          {% if post.terms( {query:{taxonomy:'regija-pravljice', orderby:'name', order: 'ASC'}}) %}      
          <div class="pravljece-signle__item">
            <img class="" src="/wp-content/themes/timber-boilerplate-master/img/world.png">
            {% for term in post.terms( {query:{taxonomy:'regija-pravljice', orderby:'name', order: 'ASC'}} ) %}
            <a href="{{term.link}}">{{ term.name }}</a>
            {% endfor %}
          </div>
          {% endif %}        
          <div class="pravljece-signle__item">
            <img class="" src="/wp-content/themes/timber-boilerplate-master/img/lenght.png">
            {{ get_audio_duration(post.meta("zvok_pravljice")['url']) }}
          </div>
          {% if post.terms( {query:{taxonomy:'starost-pravljice', orderby:'name', order: 'ASC'}}) %}
          <div class="pravljece-signle__item">
            <img class="" src="/wp-content/themes/timber-boilerplate-master/img/age.png">
            {% for term in post.terms( {query:{taxonomy:'starost-pravljice', orderby:'name', order: 'ASC'}} ) %}
            <a href="{{term.link}}">{{ term.name }}</a>
            {% endfor %}
          </div>    
          {% endif %}
          {% if post.terms( {query:{taxonomy:'kategorija-pravljice', orderby:'name', order: 'ASC'}}) %}
          <div class="pravljece-signle__item">
            <img class="" src="/wp-content/themes/timber-boilerplate-master/img/category.png">
            {% for term in post.terms( {query:{taxonomy:'kategorija-pravljice', orderby:'name', order: 'ASC'}} ) %}
            <a href="{{term.link}}">{{ term.name }}</a>
            {% endfor %}
          </div>
          {% endif %}
          {% if post.terms( {query:{taxonomy:'zbirke-pravljice', orderby:'name', order: 'ASC'}}) %}      
          <div class="pravljece-signle__item">
            <img class="" src="/wp-content/themes/timber-boilerplate-master/img/collection.png">
            {% for term in post.terms( {query:{taxonomy:'zbirke-pravljice', orderby:'name', order: 'ASC'}} ) %}
            <a href="{{term.link}}"> {{ term.name }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div>{{ post.content }}</div>
      </div>
    </div>

    {% set posts = get_comon_pravljice() %}
    {% include "partials/pravljice-podobne.twig" with { 'type': posts } %}
  </div>
</div>
{% endblock %}